NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_ADMIN_PHONE="your-admin-phone"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="your-midtrans-client-key"
NEXT_PUBLIC_API_SOCKET=http://localhost:5000

# PregnaAI Configuration
NEXT_PUBLIC_PREGNAAI_API_KEY=inth_bediuekuefBKUSDWtbDWigU886DSBjkkbh
NEXT_PUBLIC_PREGNAAI_API_URL=http://localhost:8000/v1/health/chat

# Diagnosa Configuration
NEXT_PUBLIC_DIAGNOSA_API_KEY=inth_premium_IDGUGGbdbdkjkwDWoiwodhhnni3eyi73bIbIDdg
NEXT_PUBLIC_DIAGNOSA_API_URL=http://localhost:8000/v1/health/diagnose